In [1]:
import pandas as pd
import yfinance as yf  #download historical and real-time financial data from Yahoo Finance.
import datetime
from datetime import date, timedelta  # timedelta: represents the difference between two dates or times.

In [2]:
# Get today's date and format it as YYYY-MM-DD
today = date.today()
d1 = today.strftime("%Y-%m-%d")
end_date = d1

# Calculate the start date (730 days ago = 2 years) and format it as YYYY-MM-DD
d2 = date.today() - timedelta(days=730)
d2 = d2.strftime("%Y-%m-%d")
start_date = d2

In [3]:
print("Start date:", start_date)
print("End date:", end_date)

Start date: 2022-05-25
End date: 2024-05-24

In [4]:
data = yf.download('BTC-USD', start=start_date, end=end_date, progress=False)
data["Date"] = data.index
data = data[["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"]]
data.reset_index(drop=True, inplace=True)

In [5]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-05-25,29653.134766,30157.785156,29384.949219,29562.361328,29562.361328,27525063551
1,2022-05-26,29564.777344,29834.160156,28261.906250,29267.224609,29267.224609,36774325352
2,2022-05-27,29251.140625,29346.943359,28326.613281,28627.574219,28627.574219,36582005748
3,2022-05-28,28622.625000,28814.900391,28554.566406,28814.900391,28814.900391,35519577634
4,2022-05-29,29019.867188,29498.009766,28841.107422,29445.957031,29445.957031,18093886409

In [6]:
data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
725,2024-05-19,66937.929688,67694.296875,65937.179688,66278.367188,66278.367188,19249094538
726,2024-05-20,66278.742188,71483.562500,66086.171875,71448.195312,71448.195312,43850655717
727,2024-05-21,71443.062500,71946.460938,69191.125000,70136.531250,70136.531250,46932005990
728,2024-05-22,70135.320312,70623.695312,68977.695312,69122.335938,69122.335938,32802561717
729,2024-05-23,69121.304688,70041.273438,66356.953125,67929.562500,67929.562500,41895680979

In [7]:
data.describe()

,Date,Open,High,Low,Close,Adj Close,Volume
count,730,730.000000,730.000000,730.000000,730.000000,730.000000,7.300000e+02
mean,2023-05-24 12:00:00,32029.889854,32639.300559,31432.373440,32082.526699,32082.526699,2.503096e+10
min,2022-05-25 00:00:00,15782.300781,16253.047852,15599.046875,15787.284180,15787.284180,5.331173e+09
25%,2022-11-23 06:00:00,21527.707031,21803.264648,20957.500488,21529.596191,21529.596191,1.516750e+10
50%,2023-05-24 12:00:00,27266.462891,27773.986328,26853.679688,27272.520508,27272.520508,2.259829e+10
75%,2023-11-22 18:00:00,37408.843750,37883.567383,36856.677734,37465.802734,37465.802734,3.123507e+10
max,2024-05-23 00:00:00,73079.375000,73750.070312,71334.093750,73083.500000,73083.500000,1.189925e+11
std,NaN,14755.692132,15139.177701,14352.157220,14815.449025,14815.449025,1.375778e+10

In [8]:
data.shape

(730, 7)